@import "tailwindcss";
@plugin "tailwind-scrollbar";

/* @font-face {
  font-family: "Inter";
  font-display: swap;
  font-style: normal;
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
} */

/* @theme {
  --font-display: "Inter";
} */

html {
  scroll-behavior: smooth;
  font-family: "inter", sans-serif, serif;
}

body {
  @apply bg-zinc-900 text-zinc-50;
}

/* 

  TYPOGRAPHIE

*/

.headline_2,
.headline_1 {
  @apply max-w-max;
  background: -webkit-linear-gradient(0deg, #fafafa, #a1a1aa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.headline_1 {
  @apply text-3xl font-semibold leading-tight lg:text-[50px] lg:leading-[1.15];
}

.headline_2 {
  /* @apply uppercase text-zinc-400 text-sm mb-4 md:mb-7 font-semibold; */
  @apply uppercase text-zinc-400 text-sm font-semibold ml-4;
}

.title-1 {
  @apply text-[20px] font-normal;
}

/* 

  UTILITY

*/
.container {
  @apply px-4 mx-auto lg:px-8 xl:max-w-6xl;
}

.section {
  @apply pt-20 lg:pt-32;
}

/* 
  CSS COMPONENTS
*/

.menu-btn {
  @apply w-10 h-10 grid place-items-center bg-zinc-50/10 rounded-xl ring-inset ring-zinc-50/[0.02] backdrop-blur-2xl hover:bg-zinc-50/15 cursor-pointer transition-[transform,background-color] active:scale-95 md:hidden;
}

/* 

  NAVBAR

*/

.navbar {
  @apply absolute right-0 top-full mt-2 min-w-40 bg-zinc-50/10 p-2 rounded-2xl ring-inset ring-1 ring-zinc-50/5 scale-90 isolate blur-sm opacity-0 invisible transition-[opacity,transform,filter] md:static md:flex md:items-center md:mt-0 md:opacity-100 md:blur-none md:visible md:scale-100 backdrop-blur-2xl;
}

.navbar.active {
  @apply opacity-100 scale-100 visible blur-none;
}

.nav-link {
  @apply grid items-center h-9 px-4 text-sm font-medium tracking-wide text-zinc-50/50 hover:text-zinc-50 transition-colors;
}

/* CONTACT LORSQU'ON EST >= 768px md: */
.nav-link.nav-link-hidden {
  @apply md:hidden;
}

.nav-link.active {
  @apply text-zinc-900 duration-500;
}

.navbar .active-box {
  @apply absolute  bg-zinc-50 rounded-lg -z-10 transition-[top,left] duration-500;
}

/* 

  BUTTON CONTACT

*/

.btn {
  @apply max-w-max h-9 flex items-center gap-2 px-4 rounded-2xl font-medium text-sm ring-1 ring-zinc-50/6 ring-inset transition-[background-color];
}

.btn-secondary {
  @apply bg-zinc-50 text-zinc-900 active:bg-zinc-50/80;
}

.btn-secondary.md_hidden {
  @apply max-md:hidden md:justify-self-end;
}

.btn-primary {
  @apply h-11 rounded-3xl bg-zinc-200 text-zinc-950 hover:bg-zinc-100;
}

.btn-outline {
  @apply h-11 rounded-3xl bg-zinc-800 hover:bg-zinc-700 active:bg-zinc-800;
}

/**

  CARD SKILL

**/
.cardSkill {
  @apply py-8 lg:py-4;
}

/* Label */

.label {
  @apply block text-zinc-200 text-sm font-normal mb-2;
}

.text-field {
  @apply block outline-none w-full p-3 text-sm bg-zinc-800 rounded-sm ring-1 ring-inset ring-transparent transition-shadow hover:ring-zinc-50/5 focus:ring-sky-400;
}

.text-field::placeholder {
  @apply text-zinc-400;
}

.btn.send {
  @apply bg-zinc-50 hover:bg-zinc-50/80 text-zinc-800 w-full max-w-full h-12 rounded-full text-base flex justify-center items-center text-center transition-[background-colors];
}

.predirection,
.ct {
  @apply ml-0;
}
